:root{
  --background-color: #23b73d;
  --font-color: #000000;
  --border-color: rgb(0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  width: 100vw;
}

body{
  height: 90vh;
  min-width: 100vw;
  display: flex;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace; */
  background-color: var(--background-color);
}

input{
  background-color: transparent;
  border: 3px solid var(--border-color);
  text-align: center;
  color: black;
  padding: 2px;
  height: 30px;
}

button{
  color: var(--background-color);
  font-weight: 700;
  background-color: #000000;
  padding: 5px;
  border: none;
}

textarea:focus, input:focus{
  outline: none;
}

input::placeholder{
  color: rgb(43, 99, 99);
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.main-heading{
  width: 100%;
  border: 5px dashed var(--border-color);
  /* box-shadow: 0px 1px 10px var(--border-color); */
  color: var(--font-color);
  text-align: center;
}

.sub-heading{
  border-top: 5px solid var(--border-color);
  border-right: 5px solid var(--border-color);
  border-left: 5px dashed var(--border-color);
  border-bottom: 5px dashed var(--border-color);
  width: 90%;
  color: var(--font-color);
  text-align: center;
  padding: 2%;
  
}

h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
}

.content{
  height: 65%;
  width: 90%;
  border-top: 5px solid var(--border-color);
  border-right: 5px solid var(--border-color);
  border-left: 5px dashed var(--border-color);
  border-bottom: 5px dashed var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer{
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  border-top: 5px solid var(--border-color);

}

.navi{
  height: 100%;
  outline: 3px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navi >button{
  height: 70%;
  width: 70%;
  background-color: white;
  color: #000000;
  border: 2px dashed;
  border-radius: 5px;
  font-size: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.num-wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  max-height: 240px;
  overflow: auto;
}

.num{
  width: 35px;
  height: 35px;
  border: 3px solid black;
  border-radius: 50%;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 16px;
}

.selected{
  background-color: #000000;
  color: #23b73d;
}

/* List page */

.table{
  width: 300px;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 3px solid black ;
  padding: 10px;
}

.row{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-content: center;
  justify-items: center;
  outline: 2px dashed;
  padding: 2px;
}

.del{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.row > .name {
  text-transform: capitalize;
}


.del > button{
  width: 20px;
  height: 20px;
  padding: 0;
  line-height: 20px;
  text-align: center;
  border: 1px solid;
  background-color: transparent;
  color: #000000;
  border-radius: 20%;

}

.delFinal{
  opacity: 0;
  pointer-events: none;
  height: 50vh;
  width: 80vw;
  background-color: #f1f1f1;
  position: absolute;
  top: 30vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  gap: 10px;

}

.delete{
  height: 50px;
  width: 70px;
  color: white;
  border-radius: 10%;
}

.cross{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  color: white;
  padding: 10px;
}
